# Eclipse IDE project files #
############################
.project
.cproject
.settings

# Compiled source #
###################
*.o
*.a
*.hex
*.elf
*.map
*.asm

# DDEN scripts #
################
*.sh
